

.filter-section{
    width: 200px;
}

.filter-section > ul{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.filter-category-item{
    margin-top: 20px;
}

.filter-category-item h4{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--main-text-color);
}

.filter-list{
    display: flex;
    flex-direction: column;
}

.filter-list button{
    background: none;
    border: none;
    outline: none;
    text-align: left;
    color: var(--sidebar-text-color);
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 300ms;
}

.filter-list button:hover{
    color: var(--primary-color);
}

.active-filter-btn{
    color: var(--primary-color) !important;
}