

header{
    border-bottom: 2px solid var(--product-border-color);
}

.header{
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 211px;
    min-width: 100px;
    height: 35px;
    cursor: pointer;
}

.search-box{
    flex: 1;
    max-width: 695px;
    height: 48px;
    display: flex;
    align-items: center;
    background: var(--main-gray);
    border-radius: 50px;
    padding: 0px 27px;
    margin: 0 20px;
}

.search-box svg{
    fill: var(--search-icon);
    margin-right: 12px;
}

.search-box .search-input{
    flex: 1;
    padding: 15px 0;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
}

.search-box .search-input::placeholder{
    color: var(--light-gray);
}

.header .show-basket-btn{
    position: relative;
    width: 118px;
    height: 48px;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    color: var(--light-gray);
    font-size: 17px;
    background: var(--white-text);
    cursor: unset;
    font-weight: 400;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .show-basket-btn .counter-badge{
    position: absolute;
    top: -9px;
    right: -9px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--primary-color);
    color: var(--white-text);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .show-basket-btn:focus-within{
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid var(--white-text);
    color: var(--primary-color);
}

/* .header .show-basket-btn:hover .basket-items{
    opacity: 1;
    visibility: visible;
} */

.header .show-basket-btn:focus-within .basket-items{
    opacity: 1;
    visibility: visible;
}

.basket-items{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 46px;
    right: -1px;
    width: 360px;
    height: 300px;
    overflow-y: auto;
    border: 1px solid var(--light-gray);
    padding: 30px;
    border-radius: 8px 0px 8px 8px;
    background: var(--white-text);
    transition: 300ms;
    z-index: 1;
}

.basket-item{
    display: flex;
    margin-bottom: 30px;
    padding-right: 30px;
}

.basket-item:last-child{
    margin-bottom: 0px;
}

.basket-item img{
    width: 40px;
    object-fit: cover;
    max-height: 60px;
    margin-right: 20px;
}

.basket-item-details{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.basket-item-details span{
    text-align: left;
    font-size: 12px;
    line-height: 18px;
    color: var(--main-text-color);
}

.basket-item-details button{
    width: 48px;
    height: 16px;
    border-radius: 4px;
    font-size: 10px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.no-items-in-basket{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-items-in-basket p {
    text-align: center;
}