@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:root{
  --primary-color: #FF6000;
  --light-orange-bg: #FF60001C;
  --main-gray: #EEEEEE;
  --light-gray: #B0B0B0;
  --product-border-color: #E5E5E5;
  --main-text-color: #484848;
  --sidebar-text-color: #646464;
  --old-price-color: #9B9B9B;
  --search-icon: #333333;
  --white-text: #ffff;
  --apply-btn: #90D659;
  --decline-btn: #D65959;

}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, 
body{
  height: 100%;
}

#root{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

img{
  width: 100%;
}

button{
  outline: none;
  border: none;
  cursor: pointer;
}

.container{
  width: 100%;
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.page-content{
  width: 100%;
  display: flex;
}
